Requirements specification is a formal process that seeks to understand the problem the
software will address, and to document in detail what the software system needs to do. This
phase involves close interaction between users and developers. Most of the examples in this
book are simple, and their requirements are clearly stated. In the real world, however, problems are not always well defined. Developers need to work closely with their customers (the
individuals or organizations that will use the software) and study the problem carefully to
identify what the software needs to do.

The program must satisfy the following requirements:
■■  It must let the user enter the interest rate, the loan amount, and the number of years
    for which payments will be made.
■■  It must compute and display the monthly payment and total payment amounts.